body {
	margin: 0px;
	font-family: arial;
	background-image: url(../Images/BackgroundImage.jpg);
	overflow-x: hidden; 
    overflow-y: hidden;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

@keyframes spin {
	from {transform: rotate(0deg)}
	to {transform: rotate(360deg)}
}

@keyframes brain1move {
	0% {margin-left: -124px;width: 50px}
	16.66% {margin-left: 0px;width: 5px}
	33.32% {margin-left: 123px;width: 50px}
	49.98% {margin-left: 123px;width: 50px}
	66.64% {margin-left: 62px;width: 120px}
	83.3% {margin-left: -123px;width: 50px}
	100% {margin-left: -123px;width: 50px}
}

@keyframes brain2move {
	0% {margin-left: 123px;width: 50px}
	16.66% {margin-left: 0px;width: 120px}
	33.32% {margin-left: -124px;width: 50px}
	49.98% {margin-left: -124px;width: 50px}
	66.64% {margin-left: -62px;width: 5px}
	83.3% {margin-left: 123px;width: 50px}
	100% {margin-left: 123px;width: 50px}
}

@keyframes baseballMove {
	0% {width: 1vw;top: 25vh;transform: rotate(0deg)}
	100% {width: 80vw;top: -20vh;left: 100px;transform: rotate(360deg)}
}

@keyframes chestPress {
	0% {top: 15vh}
	25% {top: 5vh}
	50% {top: 0vh}
	100% {top: 15vh}
}

@keyframes danceR {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(15deg);}
}

@keyframes danceL {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(-15deg);}
	100% {transform: rotate(0deg);}
}

#note1 {
	opacity: 0;
	width: 50px;
	position: fixed;
	bottom: 30px;
	left: 30px;
	animation: danceL 1.5s infinite;
	animation-timing-function: ease-in-out;
}

#note2 {
	opacity: 0;
	width: 50px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	animation: danceR 1.5s infinite;
	animation-timing-function: ease-in-out;
}

#grey {
	position: fixed;
	width: 100vw;
	height: 100vh;
	opacity: .5;
	background-color: black;
	z-index: -1;
}

#loading {
	position: fixed;
	top: 30px;
	right: 30px;
	width: 40px;
	animation: spin 1s infinite;
	animation-timing-function: linear;
	border-radius: 120px;
	z-index: 11;
}

#dialUp {
	position: relative;
	top: 10vh;
	margin: 0px auto;
	display: block;
	width: 500px;
	border: 2px solid #999;
	z-index: 11;
	box-shadow: 5px 10px 10px rgba(0,0,0,.2);
}

#mailC {
	width: 200px;
	display: block;
	position: relative;
	top: 40vh;
	opacity: 0;
	margin: 0vh auto;
}

#mailO {
	position: relative;
	left: 4px;
	top: 2px;
	width: 200px;
	display: none;
	margin: 20vh auto;
}

#message {
	opacity: 0;
	user-select: none;
	margin-top: 5vh;
	font-family: arial black;
	font-size: 30px;
	color: white;
	text-align: center;
	z-index: 5;
}

.punBtns {
	border: 2px solid white;
	position: relative;
	opacity: 0;
	display: block;
	margin: 10px auto;
	user-select: none;
	text-align: center;
	font-family: arial black;
	font-size: 30px;
	background-color: #FFD131;
	width: 190px;
	border-radius: 20px;
}

.punBtns:hover {
	color: #777;
	cursor: pointer;
}

#pun1 {
	margin-top: 5vh;
}

#return {
	display: none;
	text-align: center;
	font-family: arial black;
	font-size: 30px;
	background-color: #FFD131;
	color: white;
	width: 190px;
	border-radius: 20px;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 20;
}

#return:hover {
	color: #777;
	cursor: pointer;
}

#men {
	margin: 10px auto;
	display: none;
}

#brain {
	display: none;
	animation: brain1move 1s infinite;
	animation-timing-function: linear;
	margin-left: -124px;
	position: fixed;
	top: 140px;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
}

#brain2 {
	display: none;
	animation: brain2move 1s infinite;
	animation-timing-function: linear;
	margin-left: 123px;
	position: fixed;
	top: 140px;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
}

#baseball {
	display: none;
	position: relative;
	top: 25vh;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	z-index: -2;
}

.baseballActive {
	animation: baseballMove 2s;
	animation-timing-function: ease-in;
}

#crackedScreen {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: .3;
	z-index: -1;
}

#weight {
	display: none;
	position: relative;
	top: 15vh;
	left: 51%;
	transform: translateX(-50%);
	width: 450px;
	animation: chestPress 2s infinite;
	animation-timing-function: linear;
}

#ketchup {
	/*display: none;*/
	position: fixed;
	top: 30vh;
	left: 140vw;
	transform: translateX(-50%);
	width: 250px;
	z-index: 5;
}

#mustard {
	/*display: none;*/
	position: fixed;
	top: 30vh;
	left: -40vw;
	transform: translateX(-50%);
	width: 250px;
	z-index: 4;
}

#relish {
	/*display: none;*/
	position: fixed;
	top: 30vh;
	left: 140vw;
	transform: translateX(-50%);
	width: 250px;
	z-index: 4;
}
