@media only screen and (min-device-width: 600px) {
	body {
		background-image: url("../Images/BackgroundTexture.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		color: white;
		background-color: black;
	}

	@keyframes open {
  		from {top: -15vw;}
  		to {top: 5vw;}
	}

	@keyframes close {
  		from {top: 5vw;}
  		to {top: -15vw;}
	}

	#menu {
		position: fixed;
		top: 0vh;
		left: 0vw;
		background-color: white;
		width: 100%;
		height: 5vw;
		display: block;
		z-index: 2;
	}

	.menuBtn {
		text-align: center;
		background-color: black;
		color: white;
		width: 11vw;
		height: 3vw;
		font-size: 2vw;
		display: inline-block;
		border-radius: 25px;
		padding-top: .5vw;
		user-select: none;
	}

	.menuBtn:hover {
		cursor: pointer;
		background-color: grey;
		color: black;
	}

	#myLogo {
		background-image: url("../Images/Logo.png");
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 1.1vw;
		left: 1vw;
		width: 7vw;
		z-index: 100;
		user-select: none;
	}

	#homeBtn {
		position: absolute;
		top: -1.3vw;
		left: 10vw;
		color: grey;
	}

	#gallaryBtn {
		position: absolute;
		top: -1.3vw;
		left: 22vw;
	}

	#contactBtn {
		position: absolute;
		top: -1.3vw;
		left: 34vw;
	}

	#home {
		height: 50vh;
		padding: 10vw;
		text-align: center;
		font-size: 2vw;
	}

	#gallary {
		display: none;
		padding-left: 5vw;
		font-size: 2vw;
	}

	#gallaryMenu {
		position: fixed;
		top: -15vw;
		left: 0px;
		padding-left: 2vw;
		padding-right: 2vw;
		font-size: 2vw;
		background-color: grey;
		border-radius: 0px 0px 20px 0px;
		z-index: 1;
	}

	.gallaryMenuBtn {
		display: inline-block;
	}

	.gallaryMenuBtn:hover {
		cursor: pointer;
		color: black;
	}

	.galMenuOpen {
		animation-iteration-count: 1;
		animation: open 2s;
		animation-fill-mode: forwards;
	}

	.galMenuClose {
		animation-iteration-count: 1;
		animation: close 2s;
		animation-fill-mode: forwards;
	}

	.galImg {
		float: center;
		height: 70vh;
		user-select: none;
	}

	.wideVideo {
		float: center;
		height: 70vh;
	}

	#logosBtn {
		color: black;
	}

	#logos {
		display: block;
	}

	#posters {
		display: none;
	}

	#albumArt {
		display: none;
	}

	.artDescription {
		width: 70vh;
		user-select: none;
	}

	#videos {
		display: none;
	}

	#contact{
		display: none;
		height: 50vh;
		padding: 10vw;
		text-align: center;
		font-size: 2vw;
	}

	#bigText {
		font-size: 2.5vw;
		font-weight: bold;"
	}


	#links {
		text-align: center;
		position: fixed;
		bottom: 0vh;
		left: 0px;
		background-color: rgba(0, 0, 0, .7);
		width: 100vw;
		height: 10vh;
	}
}
@media only screen and (max-device-width: 600px) {
	body {
		background-image: url("../Images/BackgroundTexture.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		color: white;
		background-color: black;
	}

	@keyframes open {
  		from {top: 0vw;}
  		to {top: 15vw;}
	}

	@keyframes close {
  		from {top: 15vw;}
  		to {top: 0vw;}
	}

	#menu {
		position: fixed;
		top: 0vh;
		left: 0vw;
		background-color: white;
		width: 100%;
		height: 15vw;
		display: block;
		z-index: 2;
	}

	#homeBtn {
		position: absolute;
		top: -5vw;
		left: 21vw;
		text-align: center;
		background-color: black;
		color: white;
		width: 25vw;
		height: 16vw;
		line-height: 17vw;
		font-size: 4vw;
		display: inline-block;
		color: grey;
	}


	#gallaryBtn {
		position: absolute;
		top: -5vw;
		left: 48vw;
		text-align: center;
		background-color: black;
		color: white;
		width: 25vw;
		height: 16vw;
		line-height: 17vw;
		font-size: 4vw;
		display: inline-block;
	}

	#contactBtn {
		position: absolute;
		top: -5vw;
		left: 75vw;
		text-align: center;
		background-color: black;
		color: white;
		width: 25vw;
		height: 16vw;
		line-height: 17vw;
		font-size: 4vw;
		display: inline-block;
	}


	#myLogo {
		position: absolute;
		top: 4vw;
		left: 1.5vw;
		width: 18vw;
		z-index: 100;
	}

	#home {
		height: 50vh;
		padding: 14vw 5vw;
		text-align: center;
		font-size: 4vw;
	}

	#gallary {
		display: none;
		padding-left: 5vw;
	}

	#gallaryMenu {
		position: fixed;
		top: 5vw;
		left: 0px;
		padding-left: 2vw;
		padding-right: 2vw;
		font-size: 3.5vw;
		width: 100vw;
		background-color: grey;
		z-index: 1;
	}

	.galMenuOpen {
		animation-iteration-count: 1;
		animation: open 2s;
		animation-fill-mode: forwards;
	}

	.galMenuClose {
		animation-iteration-count: 1;
		animation: close 2s;
		animation-fill-mode: forwards;
	}

	.gallaryMenuBtn {
		display: inline-block;
		margin-right: 3vw;
		margin-left: 3vw;
	}

	.gallaryMenuBtn:hover {
		cursor: pointer;
		color: black;
	}

	.galImg {
		float: center;
		height: 70vh;
		user-select: none;
	}

	.wideVideo {
		float: center;
		width: 70vh;
	}

	#logosBtn {
		color: black;
		z-index: 300;
	}

	#logos {
		display: block;
	}

	#posters {
		display: none;
	}

	#albumArt {
		display: none;
	}

	.artDescription {
		width: 70vh;
		user-select: none;
		font-size: 4vw;
	}

	#videos {
		display: none;
	}

	#contact{
		display: none;
		height: 50vh;
		margin: 20vw 10vw;
		text-align: center;
		font-size: 5vw;
	}

	#bigText {
		font-size: 7vw;
		font-weight: bold;"
	}

	#links {
		text-align: center;
		position: fixed;
		bottom: 0vh;
		left: 0px;
		background-color: rgba(0, 0, 0, .7);
		width: 100vw;
		height: 10vh;
		font-size: 4vw;
	}
}